{% extends "base.twig" %}

{% block content %}

<style>
.banner:before
{
	background: #000 !important;
	{% if post.custom.overlay_opacity is not empty  %}
	opacity: {{post.custom.overlay_opacity}} ;
	{% else %}
	opacity: .5 ;
	{% endif %}
}
.banner__categories path, .banner__categories svg{
	fill:none;
}
/*svg {
    width: 25px;
    height: 25px;
}*/
</style>
{% set post_author = post.custom.article_author  %}
{% set post_author_desc = post.custom.author_description %}
{% set post_author_image = post.custom.author_image %}	
{% for item in post.get_field('article') %}
	
	{% if item.acf_fc_layout == 'banner' %}
		<section class="banner overlay_{{item.id}} lazyload" {% if item.banner_video %}data-bg="{{TimberImage(item.banner_image).src|resize(1440,900)}}"{% else %}data-bg="{{TimberImage(item.banner_image).src|resize(1440,900)}}"{% endif %} style="background-image: url('data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');">
			{% if item.banner_video %}
				<div class="banner__video">
					<div data-vide-bg="mp4: {{TimberImage(item.banner_video).src}}, poster: {{TimberImage(item.banner_image).src|resize(1440,900)}}" data-vide-options="posterType: jpg, loop: true, muted: true, position: 50% 50%">
					</div>
				</div>
			{% endif %}
			<div class="container">
				<div class="banner__content hero-caption" style="display: none;">
					<h1 class="banner__title">{{post.title}}</h1>
					<div class="post-info">
						<span>{{post.date}}</span>
						<span>WRITTEN BY 
							{% if post_author is not empty  %}
								{{post_author}}
							{% else %}
								{{post.author.name}}
							{% endif %}
						</span>
					</div>
					<!--<span class="banner__title_line">
						<img src="{{ site.theme.link }}{{filePath}}/img/carousel-item-line.svg" alt="">
					</span>-->
					<p class="banner__description">{{item.banner_sub_title}}</p>

					<div class="btns">
						<a href="#" class="scroll-down">Read Article <span class="arrow-down"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M17.17 32.92l9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z" fill="#ffffff"/></svg></span></a>

						{% if post.button_link_url %} 
							{% if post.button_link_url is iterable %}
								{% set btn_button_link = '#' %}
								{% for button_link_url in post.button_link_url %}
									{% set btn_button_link = button_link_url %}
								{% endfor %}
								
								{% set btn_button_label = 'Shop Products' %}
								{% for button_label in post.button_label %}
									{% set btn_button_label = button_label %}
								{% endfor %}
								
								<a href="{{ btn_button_link }}" target="_blank">{% if btn_button_label %} {{ btn_button_label }} {% else %} Shop Products {% endif %} <span><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M17.17 32.92l9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z" fill="#ffffff"/></svg></span></a>
							{% else %}
								<a href="{{ post.button_link_url }}" target="_blank">{% if post.button_label %} {{ post.button_label }} {% else %} Shop Products {% endif %} <span><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M17.17 32.92l9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z" fill="#ffffff"/></svg></span></a>
							{% endif %}
						{% endif %}
					</div>
				</div>	
				<footer class="banner__meta">
					<a class="banner__type" href="{{site.url}}/articles/">Articles</a>
					{% set cat_name =  post.get_terms('articles-categories')|first %}
					{% if cat_name|default %}
					<ul class="banner__categories">
						<li>
							<a href="{{site.url}}/articles-categories/{{cat_name.slug}}/">
								<img src="{{TimberImage(cat_name.category_icon_white).src}}" alt="{{cat_name.name}} icon" class="icon-25"/>
								<span class="single-article-name" data-cat-custom-name="{{cat_name.slug|lower}}">{{cat_name.name}}</span>
							</a>
						</li>
					</ul>
					{% endif %}
					{# <div class="tags">
						<ul class="tags__list">
							{% for tag in post.tags %}
								<li><a href="{{site.url}}/learn?tag={{tag.name}}">{{tag.name}}</a></li>
							{% endfor %}
						</ul>
					</div> #}
				</footer>
			</div>
			{% if item.banner_cta %}
				<div class="banner__cta text--center">
					<div class="container container--lg">
						<p>{{item.cta_text}}</p><a class="btn btn--ghost btn--white btn--sm" href="{{item.cta_link}}">{{item.cta_button}}</a>
					</div>
				</div>
			{% endif %}
		</section>
	{% endif %}
{% endfor %}

<article class="post post--article">
	{% for item in post.get_field('article') %}
		
		{% if item.acf_fc_layout == 'introduction' %}

			<section class="post-intro">
				<div class="post-content container container--sm text--center">
					<h6>{{item.introduction}}</h6>
				</div>
			</section>

		{% elseif item.acf_fc_layout == 'content' %}

			<section class="post-section">
				<div class="container container--sm">
					{% if item.content_title %}
						<h2>{{item.content_title}}</h2>
					{% endif %}
					{{item.content_text}}
				</div>
			</section>

		{% elseif item.acf_fc_layout == 'slider' %}

			<section class="post-section post-section--wide">
				<div class="container container--sm">
					<div class="slider slider--article bg--ltrgray">
						{% for slide in item.slider_images %}
							<div class="slider__item">
								<figure>
									<img class="slider__image" src="" data-lazy="{{TimberImage(slide.slide_image).src|resize(1140,660)}}" />
									{% if slide.slide_caption %}
										<figcaption class="slider__caption">
											{{slide.slide_caption}}
										</figcaption>
									{% endif %}
								</figure>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>

		{% elseif item.acf_fc_layout == 'slider_with_steps' %}
			<section class="post-section post-slider">
				<div class="slider slider--posts bg--ltrgray">
					{% for slide in item.slider_steps %}
						<div class="slider__item">
							<img class="slider__image" src="" data-lazy="{{TimberImage(slide.slide_image).src|resize(950,580)}}" />
								<div class="slider__content container container--sm">
									<h6>Step {{loop.index|convertNumberToWord}}</h6>
									<p><strong>{{slide.step_title}}</strong></p>
									{{slide.step_text}}
								</div>
						</div>
					{% endfor %}
				</div>
			</section>

		{% elseif item.acf_fc_layout == 'large_image' %}
			<section class="post-section post-section--wide">
				<div class="container container--sm">
					<div style='background-image: url({{TimberImage(item.image).src|resize(1140,660)}}); height: 660px; background-size: cover;'>
					</div>
				</div>
			</section>

		{% elseif item.acf_fc_layout == 'large_video' %}
			<section class="post-section post-section--wide">
				<div class="container container--sm">
					{% if item.video_type == 'YouTube' %}
						{% set youtube_id = item.youtube_url|split('=')|last %}
						<iframe width="560" height="315" data-src="https://www.youtube.com/embed/{{youtube_id}}?rel=0" frameborder="0" allowfullscreen class="lazyload"></iframe>
					{% else %}
						{% set vimeo_id = item.vimeo_url|split('/')|last %}
						<iframe data-src="https://player.vimeo.com/video/{{vimeo_id}}?title=0&byline=0&portrait=0" class="lazyload" width="720" height="304" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					{% endif %}
				</div>
			</section>

		{% elseif item.acf_fc_layout == '2_rows_images' %}
			<section class="post-section post-section--wide ">
				<div class="container container--sm ">
					<div class="two_rows_images">
					<div style='background-image: url({{TimberImage(item.first_image).src}}); height: 480px; background-size: cover;'>
					</div>
					<div style='background-image: url({{TimberImage(item.second_image).src}}); height: 480px; background-size: cover;'>
					</div> 
					 </div>
				</div>
			</section>

		{% elseif item.acf_fc_layout == 'fulll_width_image' %}
		<section class="post-section post-section--wide ">
		<div class="fulll_width_image">
		<div style='background-image: url({{TimberImage(item.image).src}}); padding-bottom: 45%;background-size: cover;'></div>
		<div class="container container--sm ">
		  <p>{{item.image_caption}}</p>
		</div>
		</div>
		</section>

		{% elseif item.acf_fc_layout == 'block_quotes' %}
		<section class="post-section post-section--wide ">
		 <div class="container container--sm ">
		  <div class="black_quote_wrap">
		  	<div class="left_quote">
		  		<div>{{item.left_block}}</div>
		  	</div>
		  	<div class="right_quote">
		  		<div>{{item.right_block}}</div>
		  	</div>
		  </div>
		 </div>
		</section>
		
		{% endif %}
	{% endfor %}

	<section class="post-section">

		<div class="container article-disqus-box container--sm">

			<a href="#" class="toggle-comments"><img src="{{ site.theme.link }}{{filePath}}/img/comment.svg" alt=""> <strong>Responses</strong> ({{feed_count}})</a>
			<span class="disqus-comment-count" data-disqus-url="{{post.link}}" data-disqus-identifier="{{post.id}} {{post.guid}}" style="display:none;">{{post.title}} - {{feed_count}}</span>	

			<div id="disqus_thread"></div>
			<script>
			    /**
			     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
			     */
			    /*
			    */
			    var disqus_config = function () {
			        this.page.url = '{{post.link}}';  // Replace PAGE_URL with your page's canonical URL variable
			        this.page.identifier = '{{post.id}} {{post.guid}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			    };
			    (function() {  // DON'T EDIT BELOW THIS LINE
			        var d = document, s = d.createElement('script');
			        
			        s.src = 'https://eartheasy.disqus.com/embed.js';
			        
			        s.setAttribute('data-timestamp', +new Date());
			        (d.head || d.body).appendChild(s);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>

		<div class="container article-social-box container--sm">

			<ul>

				<li>
					<a target="_blank" href="https://twitter.com/share?url={{post.link|url_encode}}&amp;text=" title="Twitter">
						<svg viewBox="0 0 20 18" width="20" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-twitter"></use></svg>
					</a>
				</li>
				<li>
					<a target="_blank" href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" title="Facebook">
						<svg viewBox="0 0 10 20" width="10" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-facebook">
					</a>
				</li>
				<li>
					<a target="_blank" href="https://www.pinterest.com/pin/create/button/?url={{post.link|url_encode}}&media={{pinterest}}&description={{post.title|url_encode}}" data-pin-do="buttonBookmark" data-pin-custom="true">
						<svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#ffffff" d="M30.374,4.622c-13.586,0-20.437,9.74-20.437,17.864c0,4.918,1.862,9.293,5.855,10.922c0.655,0.27,1.242,0.01,1.432-0.715  c0.132-0.5,0.445-1.766,0.584-2.295c0.191-0.717,0.117-0.967-0.412-1.594c-1.151-1.357-1.888-3.115-1.888-5.607  c0-7.226,5.407-13.695,14.079-13.695c7.679,0,11.898,4.692,11.898,10.957c0,8.246-3.649,15.205-9.065,15.205  c-2.992,0-5.23-2.473-4.514-5.508c0.859-3.623,2.524-7.531,2.524-10.148c0-2.34-1.257-4.292-3.856-4.292  c-3.058,0-5.515,3.164-5.515,7.401c0,2.699,0.912,4.525,0.912,4.525s-3.129,13.26-3.678,15.582  c-1.092,4.625-0.164,10.293-0.085,10.865c0.046,0.34,0.482,0.422,0.68,0.166c0.281-0.369,3.925-4.865,5.162-9.359  c0.351-1.271,2.011-7.859,2.011-7.859c0.994,1.896,3.898,3.562,6.986,3.562c9.191,0,15.428-8.379,15.428-19.595  C48.476,12.521,41.292,4.622,30.374,4.622z"/></svg>
					</a>	
				</li>
			</ul>
		</div>
		<div class="container article-author-box container--sm">
			{% if post_author_image is not empty  %}
				<div style='background-image: url({{TimberImage(post_author_image).src}});'></div>
			{% else %}
				<div style='background-image: url({{TimberImage(post.author.profile_picture).src}});'></div>
			{% endif %}	
			<div>
				<h2>About the Author</h2>
				<p>
				{% if post_author is not empty  %}
					<strong>{{post_author}}</strong><br>
				{% else %}
					<strong>{{post.author.first_name}} {{post.author.last_name}}</strong><br>
				{% endif %}
				{% if post_author_desc is not empty  %}
					{{post_author_desc}}<br>
				{% else %}
					{{post.author.description}}
				{% endif %}	
				</p>
			</div>
		</div>
	</section>
</article>
{% if (select_type == 'category' or select_type == 'product_ids' or select_type == 'product') and related_products_art is not empty %}

	<section class="content shop-product">
			<div class=" container--xl">
				<div class="row row--16">
					<div class="page-title">
						<h2>
							<span>From Our Shop</span>
						</h2>
				 	</div>
					<div class="products_slider owl-carousel owl-theme">
						{% for product in related_products_art %}

						<div class="product-item">
							<a class="product-img owl-lazy" data-src="{{product.image_url}}" href='//eartheasy.com{{product.custom_url}}'></a>
							<a href='//eartheasy.com{{product.custom_url}}'>
							<p>{{product.name}}</p>
							</a>
						</div>
						{% endfor %}
					</div>
	 			</div>
			</div>
		</section>
{% elseif article_products %}
	<section class="content shop-product custom-nav">
		<div class=" container--xl">
			<div class="row row--16">
				<div class="page-title">
					<h2>
						<span>From Our Shop</span>
					</h2>
			 	</div>
				<div class="products_slider owl-carousel owl-theme">
					{% for product in article_products %}
						<div class="product-item">
							<a class="product-img owl-lazy" data-src="{{product.image_url}}" style="background-image:url('data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=')" href='//eartheasy.com{{product.custom_url}}'></a>
							<a href='//eartheasy.com{{product.custom_url}}'>
							<p>{{product.name}}</p>
							</a>
						</div>
					{% endfor %}
	 			</div>
			</div>
		</section>
	</section>
{% else %}
  {% if archive_products %}
	<section class="content shop-product">
			<div class=" container--xl">
				<div class="row row--16">
					<div class="page-title">
						<h2>
							<span>From Our Shop</span>
						</h2>
				 	</div>
					<div class="products_slider owl-carousel owl-theme">
						{% for product in archive_products %}

								<div class="product-item">
							<a class="product-img lazyload" data-bg="{{product.image_url}}" style="background-image:url('data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=')" href='//eartheasy.com{{product.custom_url}}'></a>
							<a href='//eartheasy.com{{product.custom_url}}'>
							<p>{{product.name}}</p>
							</a>
						</div>

						{% endfor %}
					</div>
	 			</div>
			</div>
	</section>
{% endif %}
{% endif %}
<section class="content content--related">
	<div class="container--xl">
		<div class="page-title">
		 <h2 class="content__title"><span>Related Articles</span></h2>
		</div>
		<div class="row row--16 grid">
			{% for item in related_posts %}
					{% set column_class = 'col-xs-6 col-md-4' %}

				<div class="{{column_class}} grid-item">
					<article class="post-link">
						<a class="post-link__hover lazyload" href="{{item.link}}" data-bg="{{TimberImage(item.featured_image).src}}">
							<div class="post-link__content">
								<h3 class="post-link__title">{{item.title}}</h3>
							</div>
						</a>
						<footer class="post-link__meta">
							{% if item.post_type == 'ee_guides' %}
								{% set link_type = 'Guides' %}
								{% set link_url = '/guides' %}
							{% elseif item.post_type == 'ee_articles' %}
								{% set link_type = 'Articles' %}
								{% set link_url = '/articles' %}
							{% endif %}
							<a class="post-link__type" href="{{site.url}}{{link_url}}/">{{link_type}}</a>
							<div class="tags tags--toggle">
								{# <button class="tags__btn">
									<svg viewBox="0 0 12 13" width="12" height="13" class="icon--hash" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <use xlink:href="#icon-hash-13"></use>
									</svg>
								</button> #}
							</div>
							<ul class="selector__categories">
								{% if item.post_type == 'ee_articles' %}
								{% set cat_name =  item.get_terms('articles-categories')|first %}
								{% elseif item.post_type == 'ee_guides' %}
								{% set cat_name =  item.get_terms('guides-categories')|first %}
								{% endif %}	
								<div data-rel='{{cat_name|json_encode()}}'></div>
									{% if cat_name|default %}
										<li>
											<input type="radio" id="filter-{{cat_name|lower|replace({' ':'-'})}}" name="filter_category" value="{{cat_name}}" />
											<a data-id="{{item.id}}" data-type="{% if item.post_type == 'ee_guides' %}{{site.link}}ee_guides/
											{% elseif item.post_type == 'ee_articles' %}ee_articles
											{% endif %}" target="_self" href="
											{% if item.post_type == 'ee_guides' %}{{site.link}}/guides-categories/{{cat_name.slug|lower}}/
											{% elseif item.post_type == 'ee_articles' %}{{site.link}}/articles-categories/{{cat_name.slug|lower}}/
											{% endif %}">
												<label for="filter-{{cat_name|lower|replace({' ':'-'})}}">
													{% if item.post_type == 'ee_articles' %}
														<img src="{{cat_name.category_icon.url}}" />
													{% elseif item.post_type == 'ee_guides' %}
														<img src="{{cat_name.category_icon.url}}" />
													{% endif %}
													<span>{{cat_name}}</span>
												</label>
											</a>
										</li>
									{% endif %}
								</ul>
						</footer>
					</article>
				</div>
			{% endfor %}
		</div>
	</div>
	{% if all_related %}
		{# do nothing #}
	{% else %}
		<div class="archive-load-more container container--lg load-more">
			<a class="btn btn--black btn--ghost" data-page_type="single-article">Load More</a>
			<div id="content" style="display:none;"><img alt="" src="https://learn.eartheasy.com/site-files/2018/03/loading.gif" width="100" height="100" align="center" /></div>
		</div>
	{% endif %}
</section>
{% endblock %}